.Navbar {
    width: 100vw;
    height: 60px;

    margin-top: -15px;
    margin-left: -5px;
    padding-top: 15px;
    overflow-x: hidden;

    position: fixed;
    top:0;
    left: 0;

    background: #222222;
    display: flex;
    justify-content: left;

    border: solid;
    border-width: 1px;
    border-color: #fff;
}

.Navbar ul {
    position: absolute;
    left: 0;

    display: flex;    
    flex-wrap: nowrap;
    list-style-type: none;
}

.Navbar li {
    margin-right: 25px;
}

.Navbar li:hover {
    text-decoration: underline;
}