.result-list .name:hover {
    color: #0087e0;
}

.result-list .status {
    margin-left: 15px;
}

.result-list {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 25px 10px 25px;
    margin: auto;
    max-height: 300px;
}

.result {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.result {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
    padding-bottom: 50px;
}